div {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
}

span {
    padding-right: 20px;
}

#submit {
    width: 60px;
    height: 30px;
}

.card {
    width: 100px;
    height: 50px;
    position: relative;
    border: 2px solid blue;
}