/* Styles used to display the effects on the application.*/

.grid-container {
    display: grid;
    grid-template-columns: 410px 700px;
    grid-template-rows: auto auto;
    padding: 10px;
}

.grid-item {
    margin: 10px;
    padding: 20px;
    display: inline-block;
    position: relative;
    height: 800px;
}

#content{
    box-shadow: 20px 20px 50px grey;
}

svg path {
    stroke:white;
    stroke-width: 0.6;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#imgText {
    text-align: center;
}